# Replace the placeholders with values from:
# udevadm info --attribute-walk --name=/dev/ttyUSB0
SUBSYSTEM=="tty", ATTRS{idVendor}=="XXXX", ATTRS{idProduct}=="XXXX", ATTRS{serial}=="ADAPTER_SERIAL", SYMLINK+="spear_gps", GROUP="dialout", MODE="0660"
